* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "inter", sans-serif;
  font-size: 1.8rem;
  line-height: 120%;
  color: #080808;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.link-box {
  display: flex;
  justify-content: space-between;
  font-size: 1.6rem;
  margin-bottom: 2rem;
}

.link-box a:visited,
.link-box a:link {
  color: #080808;
}

.linkbox a:active,
.link-box a:hover {
  color: #871d82 !important;
}

.left {
  width: 50%;
  height: 100vh;
  padding-top: 4rem;
  font-weight: bold;
  font-size: 3.2rem;
}

.left-title {
  padding-left: 4rem;
  margin-bottom: 8rem;
}

.form-container {
  width: 60%;
  margin: 0 auto;
  height: 70vh;
  overflow-y: scroll;
  color: #080808;
}

.form-container::-webkit-scrollbar {
  display: none;
  position: relative;
}

/* Hide horizontal scrollbar */

.left-title {
}

.right {
  width: 50%;
  height: 100vh;
  background-color: #080808;
  display: flex;
  flex-direction: column;
  color: #fff;

  align-items: center;
  justify-content: center;
}

.title {
  font-size: 2.4rem;
  font-weight: bold;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.subtitle {
  font-size: 1.6rem;
  color: #6c757d;
}

.left label {
  font-size: 1.8rem;
  display: block;
}

.inputBox {
  width: 100%;
  margin-bottom: 1rem;
}

inputBox {
  position: relative;
  z-index: 0;
}

label {
  font-size: 1.4rem !important;
  width: 100%;
  display: block;
  /* margin-bottom: -1.2rem; */
  /* margin-left: 2rem; */
  background-color: #fff;
  z-index: 1000 !important;
}

input {
  width: 100%;
  border-radius: 8px;
  border: 2px solid #080808;
  outline: none;
  height: 2rem;
  padding: 3rem 2rem;
  z-index: 10 !important;
}

select {
  width: 100%;
  padding: 2rem;
  border-radius: 8px;
  border: 2px solid #080808;
}

.checkbox-input {
  display: inline-block !important;
  width: auto;
}

.checkbox-inputbox {
  margin-top: 2rem;
  font-size: 1.4rem;
}

textarea {
  width: 100%;
  padding: 3rem 2rem;
  border: 2px solid #080808;
  border-radius: 8px;
  resize: none;
  color: #080808;
}

input:focus {
  font-family: "inter", sans-serif;
  border: 2px solid #080808;
  outline: none;
}

.submit-btn {
  padding: 0;
  height: auto;
  background-color: #080808;
  color: #fff;
  display: block;
  margin: 0 auto;
  padding: 1rem 2rem;
  cursor: pointer;
}

.checkbox-inputbox {
  margin-bottom: 2rem;
}

.checkbox-text {
  display: inline-block;
  margin-top: -1rem;
}

@media (max-width: 900px) {
  .container {
    display: block !important;
  }

  .left {
    width: 100%;
    height: 100% !important;
  }

  .right {
    width: 100%;
  }

  .form-container {
    height: auto !important;
    margin-bottom: 8rem;
    width: 90%;
  }
}

/* @media (){

} */
